@using uy.edu.ort.taller.aplicaciones.dominio.Constants
@{
    ViewBag.Title = "Acceso no permitido";
}

<hgroup class="title">
    <h1 class="error">Acceso no autorizado.</h1><br/>
    <h2 class="error">@ViewData[Constants.REQUEST__MESSAGE]</h2>
    <h3><a href="javascript:history.go(-1)">Click Aqui</a> para volver</h3>

</hgroup>
