ul.gallery {
  
}
ul.gallery li {
    list-style: none;
      display:inline;
}

input[type="checkbox"].gallerySelection {
    left: -16px;
    position: relative;
    top: -1px;
}

.atributo-line {
    
}
.valorSimple {
    
}

.addItem {
    border: 1px solid #CCCCCC;
    padding: 5px;
}