<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="ServicioTombola.ServicioTombola" behaviorConfiguration="ServicioTombola.ServicioTombolaBehavior">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost/ServicioTombola/" />
          </baseAddresses>
        </host>
        <endpoint name="ServicioTombola.ServicioTombolaEndPoint" address="" binding="wsHttpBinding" contract="ServicioTombola.IServicioTombola"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServicioTombola.ServicioTombolaBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="ServicioTombola.ServicioTombolaBinding">
          <security/>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
