@model TallerAplicaciones.Models.DeletePedidoModel

@{
    ViewBag.Title = "Borrar Pedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Borrar Pedido</h2>

<h3>Seguro que queres borrarlo?</h3>
<fieldset>
    <legend>Delete Pedido</legend>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        @Html.HiddenFor(m => m.PedidoID)
        <input type="submit" value="Borrar Pedido id @Model.PedidoID" /> |
        @Html.ValidationMessageFor(model => model.PedidoID)

        @Html.ActionLink("Volver", "List")
    </p>
}
