@{
    ViewBag.Title = "Index Pedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Listar Pedidos", "List", "Pedido")
</p>
<p>
    @Html.ActionLink("Crear Pedido", "Create", "Pedido")

</p>