@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
  
</hgroup>

<article>
    <p>
        Integrantes
        <ul>
            <li>Mauricio Carballo (169199)</li>
            <li>Rodirgo Demicheli (103036)</li>
              <li>Vicente Giudice (150963)</li>
        </ul>
    </p>

  
</article>

