@model TallerAplicaciones.Models.DeleteProductModel

@{
    ViewBag.Title = "Borrar producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Borrar Producto</h2>

<h3>Seguro queres borrarlo?</h3>
<fieldset>
    <legend>Borrar producto</legend>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        @Html.HiddenFor(m => m.IdProducto)
        <input type="submit" value="Borrar Producto id @Model.IdProducto" /> |
        @Html.ValidationMessageFor(model => model.IdProducto)
        @Html.ActionLink("Volver", "List")
    </p>
}
