@model TallerAplicaciones.Models.DeleteProductModel

@{
    ViewBag.Title = "Borrar producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Borrar Producto</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Delete Product</legend>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        @Html.HiddenFor(m => m.IdProducto)
        <input type="submit" value="Borrar Producto id @Model.IdProducto" /> |
        @Html.ValidationMessageFor(model => model.IdProducto)

        @Html.ActionLink("Back to List", "List")
    </p>
}
