@{
    ViewBag.Title = "Index Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Listar Productos", "List", "Producto")
</p>
<p>
    @Html.ActionLink("Crear Producto", "Create", "Producto")

</p>
<p>
    @Html.ActionLink("Crear Producto Con Archivos", "CreateConArchivos", "Producto")

</p>