@{
    ViewBag.Title = "Index Empresas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index Empresas</h2>

<p>
    @Html.ActionLink("Listar Empresas", "List", "Empresa")
</p>
<p>
    @Html.ActionLink("Crear Empresa", "Create", "Empresa")

</p>