@model TallerAplicaciones.Models.EmpresaListModel
@{
    ViewBag.Title = "Lista de Empresas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Empresas</h2>

 @Html.ListBoxFor(model => model.Empresas, new MultiSelectList(Model.Empresas, "EmpresaDistribuidoraID", "Nombre"), new { @id = "EmpresaDistribuidoraID" })
 <div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

